.container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  height: 100vh; /* Alto del contenedor igual al 100% del viewport */
}

.game-board {
  width: 80%; /* Ancho del tablero de juego al 100% del contenedor padre */
  height: 80vh; /* Alto del tablero de juego al 100% del viewport */
  background-color: #f0f0f0; /* Color de fondo del tablero */
  position: relative;
}

.image-container {
  position: absolute;
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Alto de la imagen */
  background-color: gray; /* Solo para visualizar el contenedor */
  border-radius: 50%; /* Opcional: darle forma circular al contenedor */
}
