

.header-container {
  display: flex;
  align-items: center;
}

.header-container ion-avatar {
  margin-right: 8px;
}

.header-container .header-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-container ion-avatar {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
.score-time {
  display: flex;
  justify-content: space-between;

  .score-wrapper {
    flex: 1;
    text-align: left;
  }

  .time-wrapper {
    flex: 1;
    text-align: right;
  }
}
