

.header-container {
  display: flex;
  align-items: center;
}

.header-container ion-avatar {
  margin-right: 8px;
}

.header-container .header-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-container ion-avatar {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

ion-col{
  height: 200px;
  border: #1a1a1a solid 1px;
}
ion-col img{
  justify-content: center;
  width: 80px;
  height: 80px;
}
